/* src/App.css */

.App {
  /* padding: 20px; */
  min-height: 100vh; /* Высота на всю высоту экрана */
  background-color: #f8f9fa; /* Светлый фон */
}

/* Можно добавить общие стили для контента */
.container {
  max-width: 1200px;
}

/* Пример стиля для основного контента */
main {
  padding-bottom: 2rem; /* Отступ снизу */
}

/* Пример стиля для заголовков */
h2, h3, h4 {
  color: #343a40;
}

/* Пример стиля для кнопок */
.btn {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}